body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: url("./dubai-4736936_960_720.webp");
    background-size: cover;
    background-repeat: no-repeat;
}
.loginform{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%,-50%);
    width: 400px;
    padding: 40px;
    background: rgba(0,0,0,0.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
    border-radius: 10px;
}

.loginform h2{
    margin: 0;
    padding: 0;
    color: #fff;
    margin-bottom: 40px;
    font-size: 40px;
}

.loginform .inputbox{
    position: relative;
}

.loginform .inputbox input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    margin-bottom: 40px;
}
.loginform .inputbox label{
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 1px;
    padding: 10px 0px;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;

}
.loginform .inputbox input:focus ~ label,
.loginform .inputbox input:focus ~ label{
    top: -18px;
    left: 0;
    color: #03a9f4;
    font-size: 12px;

}

.loginform input[type="button"]{
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 20px;
    background: #ff0505;
    padding: 20px 20px;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.loginform a{
    margin-top:24px;
    display: block;
    text-align: center;
    color: oldlace;
    text-decoration: none;
}